*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    /* background: rgb(24,197,232);
    background: linear-gradient(135deg, rgba(24,197,232,1) 50%, rgba(255,255,255,1) 50%); */
    background-image: url(../images/TO\ DO\ LIST\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color_white);
}

:root{
    --border: 1px solid black; 
    --radius: 8px;
    --color_violet_transparent: #c8b9d563;
    --color_dark_purple: #2f296b;
    --color_purple_moderate: #c8b9d5c7;
    --color_purple: #4d3771;
    --color_white: #ffffff;
    --font_size_text: 14px
}

.container{
    border: var(--border);
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title{
    text-transform: capitalize;
    font-size: 40px;
    letter-spacing: 4px;
}

.container_date{
    width: 230px;
    height: 120px;
    background-color: var(--color_violet_transparent);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container_show_date{
    /* border: var(--border); */
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    gap: 10px;
    width: 80%;
}

.week_day{
    letter-spacing: 4px;
}

.item_date{
    padding: 6px;
    background-color: var(--color_purple);
    border-radius: var(--radius);
    text-align: center;
    width: 30%;
}

.item_date h5{
    font-size: 12px;
}

.container_add_task{
    /* border: var(--border); */
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.input_add_task{
    height: 100%;
    width: 90%;
    padding: 0px 8px;
    border-radius: var(--radius);
    background-color: var(--color_purple_moderate);
    color: var(--color_white);
    font-weight: 800;
    font-size: var(--font_size_text);
    border: 5px solid transparent;
}

.input_add_task::placeholder{
    color: var(--color_white);
    font-weight: 800;
    font-size: var(--font_size_text);
}

.input_add_task:focus{
    box-shadow: 0px 0px 2px 1px #2f296b;
    border-width: 2px;
    border-color: var(--color_white);
    outline: #ffffff;
}

.icon_add{
    /* border: var(--border); */
    background-color: var(--color_purple_moderate);
    font-size: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    padding: 2px;
}

.icon_add:hover{
    background-color: var(--color_violet_transparent);
}

.container_task{
    width: 80%;
    height: 340px;
    background-color: var(--color_violet_transparent);
    border-radius: var(--radius);
    display: flex;
}

.container_task_inprocess{
    /* border: var(--border); */
    width: 50%;
    height: 100%;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-right: 2px solid white;
    overflow: hidden;
}

.title_task{
    background-color: var(--color_purple_moderate);
    text-align: center;
    padding: 8px 0px;
}

.container_task_inprocess .title_task{
    border-top-left-radius: var(--radius);
}

.container_list_task{
    /* border: var(--border); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-height: 300px;
    width: 100%;
    padding: 15px;
    overflow: auto;
}

.task{
    /* border: var(--border); */
    width: 95% !important; 
    max-height: 50px;
    min-height: 50px;
    border-radius: var(--radius);
    background-color: var(--color_purple_moderate);
    display: flex;
    align-items: center;
    padding: 0px 10px;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0px 0px 5px 2px #4d3771;
}

.check_task{
    display: none;
}

.label_check{
    cursor: pointer;
    position: relative;
    font-size: 18px;
    width: 30px;
    height: 30px;
}

.label_check::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    background-image: url(../icons/bxs-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.check_task:checked + .label_check:after{
    content: "";
    background-image: url(../icons/bxs-check-circle\ \(1\).svg);
}

.description_task{
    width: 75%;
    text-align: center;
    /* border: var(--border); */
    /* width: 100%; */
    /* width: 60%; */
}

.container_icons_task{
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.icon_task{
    font-size: 20px;
    color: var(--color_dark_purple);
    cursor: pointer;
}

.container_task_completed{
    width: 50%;
    height: 100%;
}

.container_task_completed .title_task{
    border-top-right-radius: var(--radius);
}

.date_task_completed{
    font-weight: 800;
    font-size: var(--font_size_text);
    color: var(--color_dark_purple);
}

/* ------------ modal --------------- */

.container_modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.295);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s all ;
}
.modal{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: black;
    padding: 20px;
    position: relative;
}
.icon_modal{
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
    color: green;
    text-align: center;
    animation: show_icon .5s linear;
}
.icon_inform{
    background-image: url(../icons/bx-check-circle.svg);
    /* background-image: url(../icons/icon_cross.svg); */
}
@keyframes show_icon{
    from{
        transform: scale(0);
    } to{
        transform: scale(1);
    }
}
.icon_close_modal{
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 25px;
    cursor: pointer;
}
.btn_modal{
    background-color: var(--color_purple);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.btn_modal:hover{
    background-color: #3e2f58;
}
.btn_modal_inform{
    width: 55px;
    height: 35px;
}
.ocult{
    display: none;
}
.icon_confirm{
    background-image: url(../icons/exclamation.svg);
}
.container_btns{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.btn_modal_confirm{
    width: 45%;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
}
.input_update{
    width: 80%;
    height: 40px;
    font-size: var(--font_size_text);
    padding: 0px 8px;
}

/* ------------ media querys ---------------- */

@media (max-width: 650px){
    .container{
        height: max-content;
        gap: 30px;
        padding: 30px;
    }
    .container_add_task{
        width: 60%;
    }
    .container_task{
        flex-direction: column;
        height: max-content;
        gap: 20px;
        background-color: transparent;
    }
    .container_task_inprocess, .container_task_completed{
        width: 100%;
        height: 300px;
        border-radius: var(--radius);
        border-top-right-radius: var(--radius);
        background-color: var(--color_violet_transparent);
        border-right: none;
    }
    .container_task_inprocess .title_task{
        border-top-right-radius: var(--radius);
    }
    .container_task_completed .title_task{
        border-top-left-radius: var(--radius);
    }
}

@media (max-width:425px){
    .container_add_task, .container_task{
        width: 95%;
    }
}

